# Vagrant
.vagrant/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
*.egg-info/

# Operating System
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
